@font-face {
  font-family: 'Jenthill';
  src: url('Jenthill.ttf.woff');
}

@import url('https://fonts.googleapis.com/css?family=Oswald');
body {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 24px;
}

p {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-weight: 100;
}

a,
a:hover,
a:visited {
  font-weight: bold;
  color: #fa05dc;
  text-decoration: none;
}

h1 {
  font-size: 10em;
  margin: 0;
  font-family: 'Jenthill', sans-serif;
}

h2 {
  font-size: 6em;
  line-height: 1em;
  margin-bottom: 0;
  font-family: 'Jenthill', sans-serif;
}

h3 {
  font-size: 2em;
  margin-bottom: 0;
  font-family: 'Jenthill', sans-serif;
}

h4 {
  font-size: 1em;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

section {
  text-align: center;
  position: relative;
  padding: 20px 10vw;
}

.the-day > div {
  margin-top: 10vh;
  position: relative;
}

.the-day > div:nth-child(even) {
  padding-right: 50%;
}

.the-day > div:nth-child(odd) {
  padding-left: 50%;
}

@media (max-width: 767px) {
  body {
    font-size: 18px;
  }
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 4em;
  }
  h3 {
    font-size: 2em;
  }
  h4 {
    font-size: 0.8em;
  }
  .the-day > div {
    margin-top: 1vh;
  }
  .the-day > div:nth-child(even) {
    padding-right: 0;
  }
  .the-day > div:nth-child(odd) {
    padding-left: 0;
  }
}

.float {
  transform: translatey(0px);
  animation: float 6s alternate infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
